.wrap-bg {
    background: rgb(82,53,85);
    background: radial-gradient(circle, rgba(82,53,85,1) 0%, rgba(53,46,80,1) 100%);
}

.btn-export {
    color: white;
    background: #525252 !important;
    padding: 0 2vh;
    border-radius: 3px;
    font-family: 'dm-med';
}

.date-picker-wrap {
    background-color: #373A64;
    border-radius: 5px;
}

.picker-st {
    color: 'white';
}

.ant-picker .ant-picker-input {
    color: 'white' !important;
}

.wrap-bg-home {
    background-color: #352e50;
opacity: 1;
background-image: radial-gradient(circle at center center, #523555, #352e50), repeating-radial-gradient(circle at center center, #523555, #523555, 40px, transparent 80px, transparent 40px);
background-blend-mode: multiply;
}

.btn-dash {
    background-color: white;
    border-radius: 4vh;
    font-size: 3vh;
    font-family: 'dm-bold';
    padding: 0.5vh 3vh;
    box-shadow: 7px 7px 37px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 7px 37px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 7px 37px -6px rgba(0,0,0,0.75);
    margin: 0 1vh;
}

.btn-dash:hover {
    opacity: 0.8;
}