.App {
  font-family: sans-serif;
  text-align: center;
}

.bg-nav {
  background-color: '#252445';
}

@font-face {
  font-family: "dm-reg";   /*Can be any text*/
  src: local("DMSans-Regular"),
    url("./assets/fonts/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "dm-med";   /*Can be any text*/
  src: local("DMSans-Regular"),
    url("./assets/fonts/DMSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "dm-bold";   /*Can be any text*/
  src: local("DMSans-Regular"),
    url("./assets/fonts/DMSans-Bold.ttf") format("truetype");
}